*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 80%; 
  max-width: 800px; 
  margin: 0 auto; 
  background-color: rgb(230, 241, 238);
}

header {
  background-color: rgb(15, 15, 15);
  padding:  0.5rem 1rem ; 
  border-radius: 0 0 5px 5px;
}

.nav_button_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none; 
  padding: 1rem 0; 
}

.nav_button_list li {
  list-style: none; 
}

.nav_button_list button {
  padding: 0.5rem 1rem; /* Agrega espacio dentro de los botones */
  border: none; /* Elimina el borde por defecto */
  border-radius: 3px; /* Agrega bordes redondeados */
  cursor: pointer; /* Cambia el cursor al apuntar */
}

main {
  background-color:#244242;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 20px 10px;
  height: 100vh;
}
.container_main{
  background-color: #a3e3b1;
  /* flex-grow: 1;
  min-height: 15; */
}

.getInfo{
  background-color: #5199F0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  flex-grow: 1;
  margin: 5px;
  
}

.btn:hover{
  cursor: pointer;
}

.cardPokemon{
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-around;
}
.pokeImg{
  background-color:#ff2121;
  width: 300px;
  height: 300px;
  position: relative;
  margin:auto;
  margin-top: 5px
}
.dropDown{
  display: none;
  position: relative;
}